<div class="banner">
  <div class="container m-5 p-5 ">
      <h1>View Friends</h1>
      <h3><em>Checkout all our amazing friends</em></h3>
    </div>
  </div>
</div>

<form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-success">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>

<div class="container">
  <%= form_with url: profiles_path, method: :get, data: {remote: false} do |f|%>
    <%= f.label :gender %><br>
    <%= f.select :gender, Profile::GENRES, :prompt => 'Select One' %>
    <%= text_field_tag :min_age,
      params[:min_age],
      class: "form-control",
      placeholder: "Choose your friend's min age'"%>
    <%= text_field_tag :max_age,
      params[:max_age],
      class: "form-control",
      placeholder: "Choose your friend's max age"%>
    <h5>Interests:</h5>
    <label for="">Business</label>
    <input type="checkbox" name="interests[]", value="Business">
    <label for="">Film</label>
    <input type="checkbox" name="interests[]", value="Film">
    <label for="">Family</label>
    <input type="checkbox" name="interests[]", value="Family">
    <label for="">Fitness</label>
    <input type="checkbox" name="interests[]", value="Fitness">
    <label for="">Food</label>
    <input type="checkbox" name="interests[]", value="Food">
    <label for="">Art</label>
    <input type="checkbox" name="interests[]", value="Art">
    <label for="">Music</label>
    <input type="checkbox" name="interests[]", value="Music">
    <label for="">Shopping</label>
    <input type="checkbox" name="interests[]", value="Shopping">
    <label for="">Sports</label>
    <input type="checkbox" name="interests[]", value="Sports">
    <label for="">Tech</label>
    <input type="checkbox" name="interests[]", value="Tech">
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="page-container d-flex">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <% @profiles.each do |profile| %>
        <div class="col-4">
          <div class="row d-flex flex-column m-3">
            <% if profile.photo.attached? %>
              <%= cl_image_tag profile.photo.key, width: 150, height: 150, crop: :thumb, gravity: :face %>
            <% else %>
              <%= cl_image_tag "avatar_ivxvwp", width: 150, height: 150, crop: :thumb, gravity: :face %>
            <% end %>
            <%= profile.name %>
            <%= link_to "See More", profile_path(profile) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
