

<div class="container mt-4 mx-3">
  <div class="row">



    <div class="col-sm-12 col-md-8">
      <%= form_with url: profiles_path, method: :get, data: {remote: false} do |f|%>
        <div class="product-search mb-3">

         <div class="row w-100 mt-3">

          <div class="col-3 pl-4">
            <%= f.label :address, class: "search-label" %>
            <div class="search-element">
              <%= f.select :address, ['All', 'Marseille', 'Paris', 'Lyon', 'Nice', 'Reims'], selected: params[:address], class: "search-select" %>
            </div>
          </div>

            <div class="col-3">
              <%= f.label :gender, class: "search-label" %>
              <div class="search-element">
                <%= f.select :gender, Profile::GENRES, :prompt => 'Select One', selected: params[:gender], class: ""%>
              </div>
            </div>
        </div>

        <div class="row w-100">
            <div class="col-3">
              <div class="search-element mt-4">
                <%= text_field_tag :min_age,
                  params[:min_age],
                  class: "search-input border-bottom",
                  placeholder: "Min age",
                  value: params[:min_age]%>
              </div>
            </div>

          <div class="col-3">
            <div class="search-element mt-4">
              <%= text_field_tag :max_age,
                params[:max_age],
                class: "search-input border-bottom",
                placeholder: "Max age",
                value: params[:max_age]%>
            </div>
          </div>

        </div>


          <div class="row w-100">

            <div class="col-9 ml-2">
              <div class=" search-label mb-3">Interests</div>
                <div class="bs-example flex-wrap">
                  <% Profile::INTERESTS.each do |interest| %>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                      <label class="btn btn-success mb-2 mx-2">
                        <input type="checkbox" name="interests[]" class="mb-2 mx-2" autocomplete="off" value="<%=interest%>" <%= "checked" if params[:interests].present? && params[:interests].include?(interest)%>> <%= interest %>
                      </label>
                    </div>
                  <% end %>
                </div>
            </div>


            <div class="col-2 d-flex justify-content-center align-items-center">
              <%= submit_tag "Search", class: "btn search-button" %>
            </div>
          </div>


        </div>
      <% end %>
    </div>


    <div class="col-sm-12 col-md-4 mb-5">
      <div id="map"
        class="results-map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>

<div class="container search-img ml-5">
  <div class="row">
    <img src="../../assets/search2" alt="Search image" width=10%>
    <h2 class="ml-3 mt-4"><%= @profiles.uniq.length %> Friends in the Result:</h2>
  </div>
</div>

<div class="result-area">
  <div class="row d-flex">

    <% @profiles.uniq.each do |profile| %>
      <div class="col-lg-6 col-sm-12">
        <div class="d-flex justify-content-center">
          <%= link_to profile_path(profile), class: "card-link" do %>
            <div class="card-friend">
              <% if profile.photo.attached? %>
                <%= cl_image_tag profile.photo.key, class: "avatar-large" %>
              <% else %>
                <%= cl_image_tag "avatar_ivxvwp", class: "avatar-large" %>
              <% end %>
              <div class="card-friend-infos">
                <p><%= profile.name %>
                  <% if profile.gender == "female" %>
                    <i class="fas fa-venus"></i>
                  <% elsif profile.gender == "male" %>
                    <i class="fas fa-mars"></i>
                  <% else %>
                    <i class="fas fa-transgender-alt"></i>
                  <% end %>
                  <%= profile.age %></p>
                  <p><i class="fas fa-heart"> <%= profile.interest.gsub(/[",\[\]]/, "") %></i></p>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    <% end %>
  </div>
</div>
