<div class="small-banner d-flex justify-content-between" style="background-color: #74BEB8;">
  <div class="container margin">
      <h1>View Friends</h1>
      <p><em><small>Checkout all our amazing friends</small></em></p>
  </div>
</div>

<div class="mt-4 mx-3">
  <h3>Search for friends</h3>
    <%= form_with url: profiles_path, method: :get, data: {remote: false} do |f|%>
      <div class="product-search mb-3">
       <div class="row w-100">
        <div class="col-3 pl-4">
          <%= f.label :address, class: "search-label" %>
          <div class="search-element">
            <%= f.select :address, ['All', 'Marseille', 'Paris', 'Lyon', 'Nice', 'Reims'], selected: params[:address], class: "search-input" %>
          </div>
        </div>
          <div class="col-3">
            <%= f.label :gender, class: "search-label" %>
            <div class="search-element">
              <%= f.select :gender, Profile::GENRES, :prompt => 'Select One', selected: params[:gender], class: "search-input"%>
            </div>
          </div>
          <div class="col-3">
            <div class="search-element mt-4">
              <%= text_field_tag :min_age,
                params[:min_age],
                class: "search-input",
                placeholder: "Min age",
                value: params[:min_age]%>
            </div>
          </div>

        <div class="col-3">
          <div class="search-element mt-4">
            <%= text_field_tag :max_age,
              params[:max_age],
              class: "search-input",
              placeholder: "Max age",
              value: params[:max_age]%>
          </div>
        </div>
       </div>
        <div class="row w-100">
          <div class="col-9 ml-2">
            <h5 class="mb-0">Interests:</h5>
            <div class="search-element flex-wrap">
              <% Profile::INTERESTS.each do |interest| %>
                <div class="d-flex m-0 align-items-center">
                  <label for="" class="search-label mb-0 mx-2"><%=interest%></label>
                  <input type="checkbox" name="interests[]" value="<%=interest%>" <%= "checked" if params[:interests].present? && params[:interests].include?(interest)%>>
                </div>
              <% end %>
            </div>
          </div>
          <div class="col-2 d-flex justify-content-center align-items-center">
            <%= submit_tag "Search", class: "btn btn-success search-button" %>
          </div>
        </div>
      </div>
    <% end %>
</div>

<div class="results-container">
  <div class="results-profiles">
    <% @profiles.each do |profile| %>
      <div class="m-3">
        <%= link_to profile_path(profile), class: "card-link" do %>
          <div class="card-friend">
            <% if profile.photo.attached? %>
              <%= cl_image_tag profile.photo.key %>
            <% else %>
              <%= cl_image_tag "avatar_ivxvwp" %>
            <% end %>
            <div class="card-friend-infos">
              <h2><%= profile.name %>
                <% if profile.gender == "female" %>
                  <i class="fas fa-venus"></i>
                <% elsif profile.gender == "male" %>
                  <i class="fas fa-mars"></i>
                <% else %>
                  <i class="fas fa-transgender-alt"></i>
                <% end %>
                <%= profile.age %></h2>
                <p>Interests: <%= profile.interest.gsub(/[",\[\]]/, "") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="map"
        class="results-map mt-3"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
