<div class="banner">
  <div class="container m-5 p-5 ">
      <h1>View Friends</h1>
      <h3><em>Checkout all our amazing friends</em></h3>
    </div>
  </div>
</div>

<div class="container">
  <%= form_with url: profiles_path, method: :get, data: {remote: false} do |f|%>
    <%= f.label :address %>
    <%= f.select :address, ['All', 'Marseille', 'Paris', 'Lyon', 'Nice', 'Reims'], selected: params[:address] %>
    <%= f.label :gender %><br>
    <%= f.select :gender, Profile::GENRES, :prompt => 'Select One', selected: params[:gender]%>
    <%= text_field_tag :min_age,
      params[:min_age],
      class: "form-control",
      placeholder: "Choose your friend's min age'",
      value: params[:min_age]%>
    <%= text_field_tag :max_age,
      params[:max_age],
      class: "form-control",
      placeholder: "Choose your friend's max age",
      value: params[:max_age]%>
    <h5>Interests:</h5>
    <% Profile::INTERESTS.each do |interest| %>
      <label for=""><%=interest%></label>
      <input type="checkbox" name="interests[]", value="<%=interest%>" <%= "checked" if params[:interests].present? && params[:interests].include?(interest)%>>
    <% end %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="results-container">
  <div class="results-profiles">
    <% @profiles.each do |profile| %>
      <div class="m-3">
        <%= link_to profile_path(profile), class: "card-link" do %>
          <div class="card-friend">
            <% if profile.photo.attached? %>
              <%= cl_image_tag profile.photo.key %>
            <% else %>
              <%= cl_image_tag "avatar_ivxvwp" %>
            <% end %>
            <div class="card-friend-infos">
              <h2><%= profile.name %>
                <% if profile.gender == "female" %>
                  <i class="fas fa-venus"></i>
                <% elsif profile.gender == "male" %>
                  <i class="fas fa-mars"></i>
                <% else %>
                  <i class="fas fa-transgender-alt"></i>
                <% end %>
                <%= profile.age %></h2>
                <p>Interests: <%= profile.interest %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="map"
        class="results-map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
