<div class="banner">
  <div class="container m-5 p-5 ">
      <h1><%= @profile.name %>'s Bio</h1>
      <h3><em>Request to hangout with your friend!</em></h3>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <%= link_to "Go Back", profile_path %>
      <div class="col-4">
        <%= image_tag @profile.photo.attached? ? cl_image_path(@profile.photo.key, height: 300, crop: :fill) : 'https://image.shutterstock.com/image-vector/man-silhouette-icon-question-mark-260nw-192704537.jpg' %>
        <%= @profile.name %>
        <%= @profile.age %>
        <%= @profile.gender %>
        <%= @profile.interest %>
        <%= @profile.average_rating %>
      </div>
  </div>
</div>


<h1>Book a new Hangout</h1>
<%= simple_form_for [@profile, @hangout] do |f| %>
      <%= f.input :date, html5: true, input_html: {min: Date.today} %>
      <%= f.input :time %>
      <%= f.submit "Send a hangout",  class: "btn btn-primary" %>
      <% end %>
