<div class="d-flex small-banner align-items-center" style="background-color: #74BEB8;">
  <div class="row mx-3 justify-content-start align-items-end">
    <% if @profile.photo.attached? %>
      <%= cl_image_tag @profile.photo.key, class: "avatar-large" %>
    <% else %>
      <%= cl_image_tag "avatar_ivxvwp", class: "avatar-large" %>
    <% end %>
    <h1 class="px-2"><%= @profile.name %>'s Bio</h1>
  </div>

</div>

<div class="container">
  <div class="row justify-content-end">
    <% if current_user.profile == @profile %>
      <%= link_to "Dashboard", dashboard_path, class: "btn btn-warning mb-5" %>
    <% else %>
      <%= link_to "Search again", profiles_path, class: "btn btn-warning mb-5" %>
    <% end %>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="row justify-content-center align-items-end mb-5 ">
        <div class="col-6">
          <ul>
            <li><h5>Name: <%= @profile.name %></h5></li>
            <li><h5>Age: <%= @profile.age %></h5></li>
            <li><h5>Gender: <%= @profile.gender %></h5></li>
            <li><h5>Interests: <%= @profile.interest.gsub(/[",\[\]]/, "") %></h5></li>
            <li><h5>Rating: <%= @profile.average_rating %></h5></li>
          </ul>
        <% if policy(@profile).edit?%>
          <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-success" %>
        <% end %>
        <% if policy(@profile).destroy?%>
          <%= link_to "Delete Profile", profile_path(@profile), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% end %>
        </div>
      </div>
    </div>
    <% if policy(@hangout).create?%>
      <div class="col-sm-12 col-md-4">
        <h3>Book a new Hangout</h3>
        <%= simple_form_for [@profile, @hangout] do |f| %>
          <%= f.input :date, html5: true, input_html: {min: Date.today} %>
          <%= f.input :time %>
          <%= f.submit "Send a hangout",  class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
