
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="ml-2 pl-5">
        <div class="mt-5">
          <div>
            <% if @profile.photo.attached? %>
              <%= cl_image_tag @profile.photo.key, class: "avatar-super" %>
            <% else %>
              <%= cl_image_tag "avatar_ivxvwp", class: "avatar-super" %>
            <% end %>
          </div>

       

          <div class="py-3 text-justify">
            <p><%= @profile.name %>
                <% if @profile.gender == "female" %>
                  <i class="fas fa-venus"></i>
                <% elsif @profile.gender == "male" %>
                  <i class="fas fa-mars"></i>
                <% else %>
                  <i class="fas fa-transgender-alt"></i>
                <% end %>
                <%= @profile.age %></p>
            <p>Interests: <%= @profile.interest.gsub(/[",\[\]]/, "") %></p>
            <p><i class="fas fa-star"></i><%= @profile.average_rating %></p>
          </div>

        <% if policy(@profile).edit?%>
          <%= link_to "Edit Profile", edit_profile_path(@profile), class: "btn btn-success" %>
        <% end %>
        <% if policy(@profile).destroy?%>
          <%= link_to "Delete Profile", profile_path(@profile), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
        <% end %>
        </div>
      </div>
    </div>

    <% if policy(@hangout).create?%>

      <div class="col-sm-12 col-md-6 mt-5 pt-5">
        <div class="text-center">
          <h3>Book a Hangout with <%= @profile.name %> !</h3>
        </div>
        <div class="form p-3 mt-5 border rounded">
          <%= simple_form_for [@profile, @hangout] do |f| %>
            <%= f.input :date, html5: true, input_html: {min: Date.today} %>
            <%= f.input :time %>
            <%= f.submit "Send",  class: "btn btn-success form-button" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="nav-bar">
  <div class="row justify-content-between align-items-center">
    <div class="col-12">
      <div class="content d-flex justify-content-end align-items-end">
        <div>
          <% if current_user.profile == @profile %>
            <div class="login">
              <%= link_to dashboard_path do %>
                <div class="d-flex align-items-center">
                <div class="text">
                  <p class="d-inline mr-2">Dashboard</p>
                </div>
                  <i class="fas fa-caret-left d-inline"></i>
                </div>
              <% end %>
            </div>
          <% else %>
            <div class="login">
              <%= link_to profiles_path do %>
                <div class="d-flex align-items-center">
                  <i class="fas fa-caret-left d-inline mr-2"></i>
                  <div class="text">
                    <p class="d-inline">Back</p>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>



