<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to image_tag("https://i.ibb.co/C8pt2Gt/7117708842ad40a996cb95e93715bf9b-1.png", border: 0), root_path, class: 'navbar-brand' %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Find Friends", profiles_path, class: "nav-link btn btn-success", id: "font-white" %>
      </li>


      <li class="nav-item row mx-1 mr-2 align-items-center">
        <%= link_to "Requests", dashboard_path(tab: "request"), class: "nav-link" %>
          <% if @notification && @notification >= 1 %>
            <span class="badge badge-danger" id="notification"><%= @notification %></span>
          <% end %>
      </li>


      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <% if current_user.profile && current_user.profile.photo.attached? %>
        <%= cl_image_tag current_user.profile.photo.key, id: "navbarDropdown", data: {toggle: "dropdown"}, aria: {haspopup: "true"}, aria: {expanded: "false"}, class: "avatar dropdown-toggle"%>
        <% else %>
        <%= cl_image_tag "avatar_ivxvwp", id: "navbarDropdown", data: {toggle: "dropdown"}, aria: {haspopup: "true"}, aria: {expanded: "false"}, class: "avatar dropdown-toggle"%>
        <% end %>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "My Hangouts", dashboard_path(tab: "hangout"), class: "dropdown-item" %>
          <%= link_to "My Requests", dashboard_path(tab: "request"), class: "dropdown-item" %>
          <% if !policy(Profile).create? %>
          <%= link_to "Friend Profile", profile_path(current_user.profile), class: "dropdown-item" %>
          <% else %>
          <%= link_to "Create Friend Profile", new_profile_path, class: "dropdown-item" %>
          <% end %>
          <%= link_to "Account", edit_user_registration_path, class: "dropdown-item" %>
          <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
      </li>
      <% else %>
      <li class="nav-item dropdown">
        <%= cl_image_tag "avatar_ivxvwp", id: "navbarDropdown", data: {toggle: "dropdown"}, aria: {haspopup: "true"}, aria: {expanded: "false"}, class: "avatar dropdown toggle"%>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Log In", new_user_session_path, class: "dropdown-item" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>
