<div class="p-2 ml-5 mt-4">
  <h1 class="my-5">Hangout with</h1>
  <h1 class="my-5 "><%= @hangout.profile.name %></h1>
</div>
<div class="small-banner d-flex justify-content-between" style="background-color: #74BEB8;">
  <div class="container margin">
    <% if current_user == @hangout.user %>
    <h1>You are hanging out with: <%= @hangout.profile.name %></h1>
    <% else %>
    <h1>Your request from: <%= @hangout.user.email %></h1>
    <% end %>
  </div>
   <div class="buttons">
    <%# Update and complete button %>
    <% if policy(@hangout).update? && current_user == @hangout.user && @hangout.status != "pending" && @hangout.status != "completed"%>
      <%= link_to 'Edit', edit_hangout_path(@hangout), class: "btn btn-primary" %>
      <%= link_to 'Complete',
                    hangout_path(@hangout, hangout: {status: "completed"}),
                    method: :patch, class: "btn btn-info",
                    data: { confirm: "Are you sure?" }%>
    <% end %>
    <%# Delete button %>
    <% if policy(@hangout).destroy? %>
      <%= link_to "Delete",
                      hangout_path(@hangout),
                      class: "btn btn-warning",
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
    <% end %>
    <%# Accept and Reject button %>
    <% if current_user.profile == @hangout.profile && @hangout.status == "pending" %>
      <%= link_to 'Accept',
                      hangout_path(@hangout, hangout: {status: "accepted"}),
                      method: :patch, class: "btn btn-primary" %>
      <%= link_to 'Reject',
                      hangout_path(@hangout, hangout: {status: "rejected"}),
                      method: :patch, class: "btn btn-danger" %>
    <% end %>
      <%= link_to 'Back', dashboard_path, class: "btn btn-info" %>
  </div>
</div>

<div class="container py-5">

  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="row justify-content-center align-items-end mb-5 ">
        <div class="col-8 card">
          <ul>
            <div class="border-bottom py-3">
              <li><h5>Hangout status: <%= @hangout.status %></h5></li>
              <li><h5>Date&Time: <%= @hangout.date.strftime("%b %d, %Y") %> <%= @hangout.time.strftime("%I:%M %p") %></h5></li>
              <% if @hangout.review && @hangout.review.persisted? %>

              <h5>
                <% case @hangout.review.rating %>
                <% when 1 %>
                  <span class="fa fa-star checked"></span>
                <% when 2 %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                <% when 3 %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                <% when 4 %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                <% when 5 %>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                  <span class="fa fa-star checked"></span>
                <% end %>
              </h5>

              <h5><%= @hangout.review.comment %></h5>
              <% elsif policy(@review).create? %>
            </div>
            <div>
              <h3>Leave your review here 😊</h3>
              <%= simple_form_for [@hangout, @review] do |f| %>
                <%= f.input :comment %>
                <%= f.input :rating, collection: 1..5 %>
                <%= f.submit %>
              <% end %>
            <% end %>
            </div>

          </ul>
        </div>
      </div>
    </div>
  </div>

</div>
